{{template "base" .}}
{{define "content"}}
<div>
    <h2>Genres</h2>
    <hr/>
    <div class="list-group text-start">
        {{ range .Data.Genres}}
            <a href="/genre/{{.ID}}/{{.Genre}}" class="list-group-item list-group-item-action">{{.Genre}}</a>
        {{end}}
    </div>
</div>
{{end}}