{{template "base" .}}
{{define "content"}}
    <div class="text-center">
        <h2>Find a movie to watch tonight!</h2>
        <hr/>
        <a href="/movies" class="list-group-item list-group-item-action">
            <img src="/static/images/movie_tickets.jpg" alt="Movie Ticket"/>
        </a>
    </div>
{{end}}