{{template "base" .}}
{{define "content"}}
    <div class="text-center">
        <h2>Find a movie to watch tonight!</h2>
        <hr/>
        <img src="/static/images/movie_tickets.jpg" alt="Movie Ticket"/>
    </div>
{{end}}