{{template "base" .}}
{{define "content"}}
<div>
    <h2>Movie: {{ .Data.movie.Title}}</h2>
    <small><em>{{ .Data.movie.ReleaseDate.Format "2006-01-02" }}, {{ .Data.movie.RunTime }}, Rated {{ .Data.movie.MPAARating }}</em></small>
    <hr />
    <p>{{ .Data.movie.Description }}</p>
</div>
{{end}}